{% extends 'elements/list.html.twig' %}

{% set nb = nb_objects %}

{% set form = {
    'order': {
        'name': "history"
    },
    'route': {
        'name': 'objectslend_batch-objectslist'
    }
} %}

{% import "macros.twig" as macros %}

{% block infoline %}
    {% set infoline = {
        'label': _Tn("%count entry", "%count entries", nb)|replace({"%count": nb}),
        'route': {
            'name': 'objectslend_filter_objects'
        }
    } %}
    {{ parent() }}
{% endblock %}

{% block infoline_actions %}
    {% if login.isAdmin() or login.isStaff() %}
    <a
            class="ui tiny labeled icon button"
            href="{{ url_for("objectslend_object_add") }}"
    >
        <i class="plus circle green icon" aria-hidden="true"></i>
        {{ _T("Add an object", "objectslend") }}
    </a>
    {% endif %}
{% endblock %}

{% block header %}
    {% set columns = [] %}

    {% if login.isAdmin() or login.isStaff() %}
        {% set columns = columns|merge([
            {'label': '#'},
        ]) %}
    {% endif %}

    {% if olendsprefs.imagesInLists() %}
        {% set columns = columns|merge([
            {'label': _T("Picture")},
        ]) %}
    {% endif %}

    {% set columns = columns|merge([
        {'label': _T("Name", "objectslend"), 'order': constant("GaletteObjectsLend\\Repository\\Objects::ORDERBY_NAME")},
    ]) %}

    {% if lendsprefs.VIEW_SERIAL %}
        {% set columns = columns|merge([
            {'label': _T("Serial", "objectslend"), 'order': constant("GaletteObjectsLend\\Repository\\Objects::ORDERBY_SERIAL")},
        ]) %}
    {% endif %}

    {% if lendsprefs.VIEW_PRICE %}
        {% set columns = columns|merge([
            {'label': _T("Price", "objectslend"), 'order': constant("GaletteObjectsLend\\Repository\\Objects::ORDERBY_PRICE")},
        ]) %}
    {% endif %}

    {% if lendsprefs.VIEW_LEND_PRICE %}
        {% set columns = columns|merge([
            {'label': _T("Borrow price", "objectslend"), 'order': constant("GaletteObjectsLend\\Repository\\Objects::ORDERBY_RENTPRICE")},
        ]) %}
    {% endif %}

    {% if lendsprefs.VIEW_DIMENSION %}
        {% set columns = columns|merge([
            {'label': _T("Dimensions", "objectslend")},
        ]) %}
    {% endif %}

    {% if lendsprefs.VIEW_WEIGHT %}
        {% set columns = columns|merge([
            {'label': _T("Weight", "objectslend"), 'order': constant("GaletteObjectsLend\\Repository\\Objects::ORDERBY_WEIGHT")},
        ]) %}
    {% endif %}

    {% set columns = columns|merge([
        {'label': _T("Status", "objectslend"), 'order': constant("GaletteObjectsLend\\Repository\\Objects::ORDERBY_STATUS")},
        {'label': _T("Since", "objectslend"), 'order': constant("GaletteObjectsLend\\Repository\\Objects::ORDERBY_BDATE")},
        {'label': _T("By", "objectslend"), 'order': constant("GaletteObjectsLend\\Repository\\Objects::ORDERBY_MEMBER")},
    ]) %}

    {% if lendsprefs.VIEW_DATE_FORECAST %}
        {% set columns = columns|merge([
            {'label': _T("Return", "objectslend"), 'order': constant("GaletteObjectsLend\\Repository\\Objects::ORDERBY_FDATE")},
        ]) %}
    {% endif %}

    {% if login.isAdmin() or login.isStaff() %}
        {% set columns = columns|merge([
            {'label': _T("Active", "objectslend")},
        ]) %}
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block search %}
    <form id="filtre" method="POST" action="{{ url_for("objectslend_filter_objects") }}" class="ui form">
        <div class="ui segment">
            <div class="three fields">
                <div class="field">
                    <label for="filter_str">{{ _T('Search:') }}</label>
                    <input type="text" name="filter_str" id="filter_str" value="{{ filters.filter_str }}" type="search" placeholder="{{ _T('Enter a value') }}"/>
                </div>
                <div class="field">
                    <label for="field_filter">{{ _T('in:') }}</label>
                    <select name="field_filter" id="field_filter" class="ui search dropdown nochosen">
                        {% for key, value in field_filter_options %}
                            <option value="{{ key }}"{% if key == filters.field_filter %} selected="selected"{% endif %}>{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="field">
                    <div class="inline fields">
                        <label for="email_filter">{{ _T("Active:", "objectslend") }}</label>
                        <div class="field inline">
                            <div class="ui radio checkbox">
                                <input type="radio" name="active_filter" id="filter_dc_active" value="{{ constant('GaletteObjectsLend\\Repository\\Objects::ALL_OBJECTS') }}"{% if filters.active_filter == constant('Galette\\Repository\\Members::FILTER_DC_EMAIL') %} checked="checked"{% endif %}>
                                <label for="filter_dc_active">{{ _T("Don't care") }}</label>
                            </div>
                        </div>
                        <div class="field inline">
                            <div class="ui radio checkbox">
                                <input type="radio" name="active_filter" id="filter_yes_active" value="{{ constant('GaletteObjectsLend\\Repository\\Objects::ACTIVE_OBJECTS') }}"{% if filters.active_filter == constant('Galette\\Repository\\Members::FILTER_W_EMAIL') %} checked="checked"{% endif %}>
                                <label for="filter_yes_active">{{ _T('Yes') }}</label>
                            </div>
                        </div>
                        <div class="field inline">
                            <div class="ui radio checkbox">
                                <input type="radio" name="active_filter" id="filter_no_active" value="{{ constant('GaletteObjectsLend\\Repository\\Objects::INACTIVE_OBJECTS') }}"{% if filters.active_filter == constant('Galette\\Repository\\Members::FILTER_WO_EMAIL') %} checked="checked"{% endif %}>
                                <label for="filter_no_active">{{ _T('No') }}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui right aligned basic fitted segment field flexend">
                    <button type="submit"  class="ui labeled icon primary button" title="{{ _T("Apply filters") }}" name="filter">
                        <i class="search icon"></i>
                        {{ _T("Filter") }}
                    </button>
                    <button type="submit" name="clear_filter" class="ui labeled icon button" title="{{ _T("Reset all filters to defaults") }}">
                        <i class="trash alt red icon" aria-hidden="true"></i>
                        {{ _T("Clear filter") }}
                    </button>
                </div>
            </div>
        </div>
        {% include "components/forms/csrf.html.twig" %}
    </form>

    {% if lendsprefs.VIEW_CATEGORY and categories|length > 0 %}
        <section id="categories">
            <header class="ui-state-default ui-state-active">
                {{ _T("Categories", "objectslend") }}
            </header>
            <div class="ui doubling six column cards">
                <div class="ui fluid card">
                    <div class="image">
                        <img
                                src="{{ url_for("objectslend_photo", {"type": "category", "mode": "thumbnail", "id": 0}) }}"
                                alt=""
                        />
                    </div>
                    <div class="content">
                        <div class="header">
                            <a href="{{ url_for("objectslend_objects", {"option": "category", "value": 0}) }}"{% if filters.category_filter == null %} class="active"{% endif %}>
                                {{ _T("All") }}
                            </a>
                        </div>
                    </div>
                </div>

                {% for categ in categories %}
                    {% if categ.isActive() or categ.getId() == -1 %}
                        <div class="ui fluid card">
                            <div class="image">
                                    <img
                                        src="{{ url_for("objectslend_photo", {"type": "category", "mode": "thumbnail", "id": categ.getId()}) }}"
                                        width="{{ categ.getPicture().getOptimalThumbWidth(olendsprefs) }}"
                                        height="{{ categ.getPicture().getOptimalThumbHeight(olendsprefs) }}"
                                        alt=""
                                    />
                            </div>
                            <div class="content">
                                <div class="header">
                                    <a href="{{ url_for("objectslend_objects", {"option": "category", "value": categ.getId()}) }}"{% if filters.category_filter == categ.getId() %} class="active"{% endif %}>
                                        {{ categ.getName() }}
                                    </a>
                                </div>
                                {% if lendsprefs.VIEW_LIST_PRICE_SUM and lendsprefs.VIEW_PRICE and (login.isAdmin() or login.isStaff()) %}
                                    <div class="meta">{{ categ.getSum() }} &euro;</div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
        </section>
    {% endif %}

{% endblock %}

{% if nb_objects != 0 %}
    {% set batch_actions = [
        {
            'name': 'pdf',
            'label': _T("Print objects list", "objectslend"),
            'icon': 'file pdf'
        }
    ] %}

    {% if login.isAdmin() or login.isStaff() %}
        {%  set batch_actions = batch_actions|merge([
            {
                'name': 'delete',
                'label': _T("Delete"),
                'icon': 'times red'
            }
        ]) %}
    {% endif %}
{% endif %}

{% block body %}
    {% for object in objects %}
        <tr class="{% if loop.index is odd %}even{% else %}odd{% endif %}">
            {% if login.isAdmin() or login.isStaff() %}
                <td class="center">
                    <input type="checkbox" name="entries_sel[]" value="{{ object.getId() }}">
                </td>
            {% endif %}
            {% if olendsprefs.imagesInLists() %}
                <td class="center">
                    <img src="{{ url_for("objectslend_photo", {"type": "object", "mode": "thumbnail", "id": object.getId()}) }}"
                         class="picture"
                         width="{{ object.getPicture().getOptimalThumbWidth(olendsprefs) }}"
                         height="{{ object.getPicture().getOptimalThumbHeight(olendsprefs) }}"
                         alt="{{ _T("Object photo", "objectslend") }}"/>
                </td>
            {% endif %}
            <td>
                <strong>{{ object.displayName(filters)|raw }}</strong>
                {% if lendsprefs.VIEW_DESCRIPTION %}
                    <br/>{{ object.displayDescription(filters)|raw }}
                {% endif %}
            </td>
            {% if lendsprefs.VIEW_SERIAL %}
                <td>
                    {{ object.displaySerial(filters)|raw }}
                </td>
            {% endif %}
            {% if lendsprefs.VIEW_PRICE %}
                <td class="right nowrap">
                    {{ object.getPrice() }}&euro;
                </td>
            {% endif %}
            {% if lendsprefs.VIEW_LEND_PRICE %}
                <td class="right">
                    {{ object.getRentPrice() }}&euro;<br/>
                    {% if object.isPricePerDay() %}
                        {{ _T("(per day)", "objectslend") }}
                    {% else %}
                        {{ _T("(at once)", "objectslend") }}
                    {% endif %}
                </td>
            {% endif %}
            {% if lendsprefs.VIEW_DIMENSION %}
                <td>
                    {{ object.displayDimension(filters)|raw }}
                </td>
            {% endif %}
            {% if lendsprefs.VIEW_WEIGHT %}
                <td>
                    {{ object.weight }}
                </td>
            {% endif %}
            <td>
                {% if object.getStatusText() %}
                    {{ object.getStatusText() }}{% if object.inStock() %} ({{ _T("In stock", "objectslend") }}){% endif %}
                {% else %}-{% endif %}
            </td>
            <td class="center nowrap">
                {{ object.getDateBegin() }}
            </td>
            <td>
                {% if object.getIdAdh() %}
                    <a href="{{ url_for("member", {"id": object.getIdAdh()}) }}">{{ memberName({'id': object.getIdAdh()}) }}</a>
                {% else %}-{% endif %}
            </td>
            {% if lendsprefs.VIEW_DATE_FORECAST %}
                <td class="center nowrap">
                    {{ object.getDateForecast() }}
                </td>
            {% endif %}
            <td class="center {% if object.isActive() %}use{% else %}delete{% endif %}">
                <i
                        class="fas fa-thumbs-{% if object.isActive() %}up{% else %}down{% endif %}"
                        title="{% if object.isActive() %}{{ _T("Object is active", "objectslend") }}{% else %}{{ _T("Object is inactive", "objectslend") }}{% endif %}">
                </i>
                <span class="displaynone">{{ _T("Active", "objectslend") }}</span>
            </td>
            <td class="center nowrap">
                {% if login.isAdmin() or login.isStaff() %}
                    {% set actions = [
                        {
                            'label': _T("Edit the object", "objectslend"),
                            'route': {
                                'name': 'objectslend_object_edit',
                                'args': {'id': object.getId()}
                            },
                            'icon': 'edit'
                        },
                        {
                            'label': _T("Duplicate object", "objectslend"),
                            'route': {
                                'name': 'objectslend_object_clone',
                                'args': {'id': object.getId()}
                            },
                            'icon': 'clone grey'
                        },
                        {
                            'label': _T("Show object lends", "objectslend"),
                            'route': {
                                'name': 'objectslend_show_object_lend',
                                'args': {'id': object.getId()}
                            },
                            'icon': 'file alt grey'
                        },
                        {
                            'label': _T("Object card in PDF", "objectslend"),
                            'route': {
                                'name': 'objectslend_object_print',
                                'args': {'id': object.getId()}
                            },
                            'icon': 'file pdf grey'
                        },
                        {
                            'label': _T("Remove %object from database", "objectslend")|replace({ '%object': object.getName() }),
                            'route': {
                                'name': 'objectslend_remove_object',
                                'args': {'id': object.getId()}
                            },
                            'icon': 'trash red',
                            'extra_class': 'delete'
                        }
                    ] %}
                {% endif %}

                {% if not object.getRentId() or object.inStock() %}
                    {% if lendsprefs.ENABLE_MEMBER_RENT_OBJECT or login.isAdmin() or login.isStaff() %}
                        {% set actions = [
                            {
                                'label': _T("Take away", "objectslend"),
                                'route': {
                                'name': 'objectslend_object_take',
                                'args': {
                                    'action': 'take',
                                    'id': object.getId()
                                }
                            },
                                'icon': 'cart plus grey'
                            }
                        ]|merge(actions) %}
                    {% endif %}
                {% elseif login.isAdmin() or login.isStaff() or login.id == object.getIdAdh() %}
                    {% set actions = [
                        {
                            'label': _T("Give back", "objectslend"),
                            'route': {
                            'name': 'objectslend_object_take',
                            'args': {
                                'action': 'return',
                                'id': object.getId()
                            }
                        },
                            'icon': 'cart arrow down orange'
                        }
                    ]|merge(actions) %}
                {% endif %}

                {% for action in actions %}
                    {{ macros.drawListAction(action.label, action.route, action.icon, action.extra_class ?? '') }}
                {% endfor %}
            </td>
        </tr>
    {% else %}
        {# FIXME: calculate colspan #}
        <tr>
            <td colspan="14" class="emptylist">{{ _T("No object has been found", "objectslend") }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script type="text/javascript">
    {% if nb_objects != 0 %}
        $(function(){
            $('.object_hist').on('click', function(e) {
                e.preventDefault();
                var _this = $(this);

                $.ajax({
                    url: _this.attr('href'),
                    type: 'GET',
                    datatype: 'html',
                    {% include "elements/js/loader.js.twig" %},
                    success: function(res){
                        var _el = $('<div id="object_hist_window" title="{{ _T("History of object", "objectslend")|e("js") }}"></div>');
                        _el.appendTo('body').dialog({
                            modal: true,
                            hide: 'fold',
                            width: '60%',
                            height: 450,
                            close: function(event, ui){
                                _el.remove();
                            }
                        }).append(res);
                    },
                    error: function(){
                        alert("{{ _T("An error occurred loading history display :(", "objectslend")|e("js") }}")
                    }
                });
            });
        });

    {% if login.isAdmin() or login.isStaff() %}
            $('#objects_take_away').click(function (e) {
                e.preventDefault();
                var _this = $(this);

                $.ajax({
                    url: 'take_more_objects_away.php?mode=ajax',
                    type: 'GET',
                    data: {
                        object_ids: get_checked_objets_ids()
                    },
                    datatype: 'html',
                    {% include "elements/js/loader.js.twig" %},
                    success: function(res){
                        var _el = $('<div id="lend_window" title="{{ _T("Take objects", "objectslend")|e("js") }}"></div>');
                        _el.appendTo('body').dialog({
                            modal: true,
                            hide: 'fold',
                            width: '60%',
                            height: 450,
                            close: function(event, ui){
                                _el.remove();
                            }
                        }).append(res);

                        $('#lend_window input:submit, #lend_window .button, #lend_window input:reset' ).button({
                            create: function(event, ui) {
                                if ( $(event.target).hasClass('disabled') ) {
                                    $(event.target).button('disable');
                                }
                            }
                        });

                        $('#btncancel').on('click', function(e) {
                            e.preventDefault();
                            $('#lend_window').dialog('close');
                        });

                        _init_takeobject_js();

                    },
                    error: function(){
                        alert("{{ _T("An error occurred loading 'Take away' display :(", "objectslend")|e("js") }}")
                    }
                });
            });

            $('#objects_give_back').click(function (e) {
                e.preventDefault();
                var _this = $(this);

                $.ajax({
                    url: 'give_more_objects_back.php?mode=ajax',
                    type: 'GET',
                    data: {
                        object_ids: get_checked_objets_ids()
                    },
                    datatype: 'html',
                    {% include "elements/js/loader.js.twig" %},
                    success: function(res){
                        var _el = $('<div id="lend_window" title="{{ _T("Give back objects", "objectslend")|e("js") }}"></div>');
                        _el.appendTo('body').dialog({
                            modal: true,
                            hide: 'fold',
                            width: '60%',
                            height: 450,
                            close: function(event, ui){
                                _el.remove();
                            }
                        }).append(res);

                        $('#lend_window input:submit, #lend_window .button, #lend_window input:reset' ).button({
                            create: function(event, ui) {
                                if ( $(event.target).hasClass('disabled') ) {
                                    $(event.target).button('disable');
                                }
                            }
                        });

                        $('#btncancel').on('click', function(e) {
                            e.preventDefault();
                            $('#lend_window').dialog('close');
                        });

                        _init_giveobject_js();

                    },
                    error: function(){
                        alert("{{ _T("An error occurred loading 'Give back' display :(", "objectslend")|e("js") }}")
                    }
                });
            });

            function statusObjects(isAway) {
                if (!$(':checkbox:checked').length) {
                    return false;
                }
                var objectsIds = '';
                $(':checkbox:checked').each(function () {
                    objectsIds += $(this).val() + ',';
                });
                window.location = (isAway ? 'take_more_objects_away' : 'give_more_objects_back') + '.php?object_ids=' + objectsIds;
                return false;
            }
    {% endif %}
{% endif %}
</script>
{% endblock %}
